%modal-pattern {
    background-color: $color-white;
    display: inline-block;
    margin: 10px 0;

    text-align: left;

    box-shadow: 0 24px 38px 3px rgba($color-black, 0.14),
                0 9px 46px 8px rgba($color-black, 0.12),
                0 11px 15px -7px rgba($color-black, 0.20);

    h1 {
        text-align: center;
        padding: 40px;
        margin: 0;
    }

    h3 {
        padding: 20px 40px 0 40px;
    }

    h2, h4, p {
        padding: 0 40px 0 40px;
    }

    h4 {
        font-weight: bold;
    }

    hr {
        border-width: 1px 0 0 0;
        border-style: solid;
        border-color: $color-grey-200;
    }

    pre {
        background: $color-grey-800;
        color: $color-white;
        font-family: consolas;
        font-size: 13px;
        padding: 10px 40px;
        overflow: auto;
    }

    a {
        color: $color-black;
        
        &:active,
        &:hover {
            color: $color-grey-700;
        }

        &.nav {
            display: inline-block;
            padding: 10px 10px 10px 40px;
            margin: 10px 0;
            
            text-decoration: none;
            color: $color-grey;

            transition: background 250ms ease;

            &:active,
            &:hover {
                background: $color-grey-100;
            }
        }
    }
    
    ul {
        padding: 0;
        margin: 0 40px 0 60px;
        
        li {
            padding: 0;
            margin: 0;
        }

        &.menu {
            li {
                a {
                    display: block;
                    padding: 10px 40px 10px 40px;
                    
                    text-decoration: none;
                    color: $color-black;
                    
                    transition: background 250ms ease;
                    
                    &:active,
                    &:hover {
                        background: $color-grey-100;
                    }
    
                    &.back {
                        color: $color-grey;
                    }
                }
            }
        }
    }
}