<div class="modal">
  <a routerLink="/more" class="nav">Back to home</a>

  <h1>Optic Illusion</h1>

  <hr>
  
  <p>The objective is to say aloud the word color (and not the word itself).</p>

  <hr>

  <table class="color-table">
    <tbody>
      <tr>
        <td class="color-table--green">red</td>
        <td class="color-table--yellow">blue</td>
      </tr>
      <tr>
        <td class="color-table--purple">orange</td>
        <td class="color-table--red">green</td>
      </tr>
      <tr>
        <td class="color-table--blue">yellow</td>
        <td class="color-table--orange">purple</td>
      </tr>
    </tbody>
  </table>

  <hr>
  
  <h2>Explanation</h2>

  <p>
    Our brain is advanced device which enables to detect color and language. When you try to say aloud the word color, an opposition happens between the color processing and the language processing.
  </p>
</div>