<div class="container">
    <div class="modal">
        <h1>Labs</h1>

        <ul>
            <li>
                <a href="https://yve5.github.com/pairs" target="blank" class="strip strip--primary">Pairs</a>
            </li>
            <li>
                <a href="https://yve5.github.com/lipstickcss" target="blank" class="strip strip--primary">Lipstick</a>
            </li>
            <li>
                <a href="#" class="strip strip--primary">Hello World</a>
            </li>
            <li>
                <a href="#" class="strip strip--primary">More...</a>
            </li>
        </ul>
    </div>

    <div class="copyright">Copyright &copy; 2018. All rights reserved</div>
</div>



<!-- 
    <div class="container__tab">
        <div class="strip__container">
            <div class="strip__row">
                <span class="strip">labs.</span>
                <a href="#" class="strip strip--primary">Hel lo</a>
                <a href="#" class="strip strip--primary">He llo Wo</a>
            </div>
            
            <div class="strip__row">
                <a href="https://yve5.github.com/pairs" target="blank" class="strip strip--primary">Pairs</a>
                <a href="https://yve5.github.com" target="blank" class="strip strip--primary">Lipstick</a>
            </div>
            
            <div class="strip__row">
                <a href="#" class="strip strip--primary">Lor em ips um</a>
                <a href="#" class="strip strip--primary">He llo Wo</a>
            </div>
        </div>
        
        <div class="container__copyright">Copyright &copy; 2018. All rights reserved</div>
    </div>
-->    