<div class="container__tab">
  <div class="strip__container">
      <div class="strip__row">
          <span class="strip">labs.</span>
          <a href="#" class="strip strip--primary">Hel lo</a>
          <a href="#" class="strip strip--primary">He llo Wo</a>
      </div>

      <div class="strip__row">
          <a href="https://yve5.github.com" target="blank" class="strip strip--primary">Pai rs</a>
          <a href="https://yve5.github.com" target="blank" class="strip strip--primary">Lip sti ck</a>
      </div>

      <div class="strip__row">
          <a href="#" class="strip strip--primary">Lor em ips um</a>
          <a href="#" class="strip strip--primary">He llo Wo</a>
      </div>
  </div>

  <div class="container__copyright">Copyright &copy; 2018. All rights reserved</div>
</div>