<div class="container__tab">
  <div class="strip__container">
      <div class="strip__row">
          <span class="strip">labs.</span>
          <a href="#!/excursion" class="strip strip--primary">Hel lo</a>
          <a href="#" class="strip strip--primary">He llo Wo</a>
          <a href="#" class="strip strip--primary">He llo</a>
      </div>

      <div class="strip__row">
          <a href="#" class="strip strip--primary">He llo</a>
          <a href="#" class="strip strip--primary">He llo Wo rld</a>
          <a href="#" class="strip strip--primary">He llo Wo</a>
      </div>

      <div class="strip__row">
          <a href="#" class="strip strip--primary">Lor em ips um</a>
          <a href="#" class="strip strip--primary">He llo Wo</a>
          <a href="#" class="strip strip--primary">He llo Wo rld</a>
      </div>
  </div>

  <div class="container__copyright">&copy; 2017 · All Rights Reserved</div>
</div>