
$speed: 250ms;

// .container {
//     width : 400px;
//     margin: auto;

//     @media (max-width: 400px) {
//         // width  : calc(100% ~'-' 10px);
//         width  : calc(100% - 10px);
//         padding: 0 5px;
//     }

//     &__tab {
//         animation-duration: 1000ms;
//         animation-name    : switchtab;
//         display           : none;

//         &--show {
//             display: block;
//         }
//     }

//     &__image {
//         margin: 10px 0 0 0;

//         img {
//             width: 100%;
//         }
//     }

//     &__copyright {
//         text-align: center;
//         color: #aaa;
//         float: left;

//         padding: 30px 4px 10px 4px;
//         width  : 100%;
//     }
// }

// @keyframes switchtab {
//     0%   {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }



.strip {
    $strip-width: 100px;
    $strip-gutter: 4px;

    // $strip-default-color     : #FFFFFF;
    $strip-default-color-text: #ccc;
    $strip-shadow-color: #999;

    &__container {
        width   : ($strip-width + ($strip-gutter * 2)) * 3;
        overflow: hidden;

        margin  : 0 auto;
        padding: 10px;

        transition: all ease $speed;

        @media screen and (max-width: 360px) {
            width: $strip-width + ($strip-gutter * 2);
        }

        @media print {
            display: none;
        }
    }

    &__row {
        width   : ($strip-width + ($strip-gutter * 2));
        overflow: hidden;
        float   : left;
    }

    cursor     : pointer;
    user-select: none;
    border     : none;

    display: inline-block;
    width  : $strip-width;
    padding: 100px 0 0 0;
    margin : $strip-gutter;

    color: $strip-default-color-text;
    text-decoration: none;
    font-weight: bold;
    font-size: 3em;

    transition: all ease $speed;

//     span& {
//         position: relative;
//         left: -2px;
//         cursor: auto;
//     }

    &--primary {
        $strip-primary-color     : #7BFF4E;
        $strip-primary-color-alt : darken($strip-primary-color, 15%);
        $strip-primary-color-text: darken($strip-primary-color, 25%);

        background-color: $strip-primary-color;
        color: $strip-primary-color-text;
        text-transform: uppercase;

        &:visited {
            color: $strip-primary-color-text;
        }

        &:hover {
            background-color: $strip-primary-color-alt;
            color: $strip-primary-color-text;
        }
    }
}