// Colors
@import 'palette';

// Brand colors
$color-primary: #ff9a9e; // pink variation
$color-secondary: #fad0c4; // pink variation
$color-tertiary: #99411F; // pink variation
// $color-primary: #a1c4fd; // blue variation
// $color-secondary: #c2e9fb; // blue variation

// Patterns
@import 'pattern';