/* You can add global styles to this file, and also import other style files */


// @import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

$speed: 250ms;


body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    padding: 0;
    margin : 0;

    h1, h2, h3 {
        margin : 10px 0;
        padding: 0;
    }

    p {
        padding: 10px 0 0 0;
        margin : 0;

        &.right-align {
            text-align: right;
        }
    }

    a {
        $link-text-color      : #000;
        $link-text-hover-color: lighten($link-text-color, 60%);
        

        transition: all ease-in-out $speed;
        border-bottom: 1px dotted $link-text-color;
        text-decoration: none;
        color: $link-text-color;

        border-color: $link-text-color;
        border-width: 0 0 1px 0;
        border-style: dotted;

        &:visited {
            color: $link-text-color;
        }

        &:hover {
            border-color: $link-text-hover-color;
            color: $link-text-hover-color;
        }
    }
}